# Entorno virtual
venv/
.venv/

# Variables de entorno (NUNCA subir al repo)
.env

# Python
__pycache__/
*.pyc
*.pyo

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Uploads generados por usuarios (no versionar)
app/static/uploads/